/* Dark mode background and text colors */
body {
    font-family: 'Century Gothic', sans-serif; /* Set Century Gothic font */
    margin: 20px;
    background-color: #2c2f36; 
    color: #f0f0f0; 
    /* text-align: center; */
    overflow-y: scroll; 
  }
  
  /* scrollbar styles for pastel pink color */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Dark background for scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #f5b6d3; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b299d070; /* purple on hover */
  }

  #quizHeading {
    text-align: center;
  }

  .questionContainer {
    display: flex;
    justify-content: center;
  }
  
  /* Styling the centered image */
  .center-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 400px; 
  }
  
  /* Styling for questions and answers */
  .question {
    width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #4b4e58;
    border-radius: 8px;
  }

  /* Question text */
  .q {
    text-align: center;
    font-weight: bold;
    color: #ffffff; 
    background-color: #d4b6f960;
    padding: 1em;
  }
/*   
  .answer {
    color: green;
  } */

  /* #container {
    display: flex;
    justify-content: center;
  } */

  /* Question header */
  .question h2 {
    text-align: center
  }
  
  .answerLabel {
    color: #e0d0e0; 
  }
  
  /* styling radio buttons */
  .choices input[type="radio"] {
    -webkit-appearance: none; /* removes the default styling */
    -moz-appearance: none; /* removes default styling for Firefox */
    appearance: none; /* removes default styling for modern browsers */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #efc5d8; 
    border: 2px solid #e0d0e0;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .choices input[type="radio"]:checked {
    background-color: #d4b6f960; 
    border-color: #f0f0f0;
  }

  /* input {
    margin: 20px;
  } */
/* 
  .answerLabel {
    margin: 300px;
  } */
  
  /* Styling for the submit button */
  /* .btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #f5b6d3; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   */
  /* .btn:hover {
    background-color: #d4b6f960; 
  }
   */

  /* styling for the result section */
  /* .result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #d8cee4;
  }
   */
  /* button {
    transition: background-color 0.3s ease; //Smooth transition for hover effect
  } */